body, html {
  height: 100%;
  margin: 0;
}

#main-map {
  height: 40%;
  width: 70%;
  position: absolute;
  bottom: 0;
}

#street-view {
  height: 60%;
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
}

#search-box {
  position: absolute;
  bottom: 10px;
  left: 25%;
  width: 15%;
  font-size: 1em;
  padding: 10px;
  background-color: rgb(222, 246, 227);
  z-index: 2;
}

#empty-window {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
}