* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
  }
  
  .gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
  }
  
  #ijqi {
    text-align: center;
    height: 75px;
  }
  
  #i3fl {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    text-align: center;
  }
  
  #ihja {
    height: 46px;
  }
  
  #i2bh {
    text-align: center;
    flex-basis: 100%;
  }
  
  #iivw {
    color: black;
    text-align: center;
    height: 34px;
  }
  
  #i1x53 {
    color: black;
    text-align: center;
  }
  
  #irbf {
    text-align: center;
  }
  
  #iee2k {
    color: black;
    text-align: center;
  }
  
  #ig9yb {
    text-align: center;
  }
  
  #i202l {
    color: black;
    text-align: center;
  }
  
  #imd8g {
    text-align: center;
  }
  
  #i3fl:hover {
    color: #4214aa;
  }
  
  @media (max-width: 768px) {
    .gjs-row {
      flex-wrap: wrap;
    }
  }
  